*::-webkit-input-placeholder {
  color: #28292D;
  opacity: 1; }

*:-moz-placeholder {
  color: #28292D;
  opacity: 1; }

*::-moz-placeholder {
  color: #28292D;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #28292D;
  opacity: 1; }

button {
  cursor: pointer; }

.ns_admin-area {
  padding: 53px 0px;
  padding-bottom: 39px;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.ns_item-dropdown__input,
.ns_item-form input,
.ns_item-form textarea {
  height: 50px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 18px;
  width: 100%;
  border: 1px #28292D solid;
  font-family: 'GT Walsheim Pro';
  background-color: transparent;
  opacity: 0.4;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .ns_item-dropdown__input:hover,
  .ns_item-form input:hover,
  .ns_item-form textarea:hover {
    opacity: 1; }
  .ns_item-dropdown__input:focus + .ns_item-form__placeholder,
  .ns_item-form input:focus + .ns_item-form__placeholder,
  .ns_item-form textarea:focus + .ns_item-form__placeholder {
    font-size: 12px;
    line-height: 15px;
    top: 5px; }
  .ns_item-dropdown__input.ns_rfield,
  .ns_item-form input.ns_rfield,
  .ns_item-form textarea.ns_rfield {
    padding-top: 7px; }

.ns_item-form textarea {
  height: 134px;
  padding-top: 16px;
  resize: none; }

.ns_item-dropdown__input {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer; }
  .ns_item-dropdown__input::after {
    position: absolute;
    display: block;
    content: " ";
    width: 9px;
    height: 5px;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../img/triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .ns_item-dropdown__input.ns_active {
    opacity: 1; }
    .ns_item-dropdown__input.ns_active::after {
      transform: rotate(-180deg); }
  .ns_item-dropdown__input.ns_active + .ns_item-dropdown__content {
    display: block; }

.ns_item-form__placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #28292D;
  opacity: 0.4;
  top: 15px;
  left: 15px;
  transition: all 0.3s;
  pointer-events: none;
  position: absolute; }

.ns_item-form_filled .ns_item-dropdown__input {
  opacity: 1; }
.ns_item-form_filled .ns_item-form__placeholder {
  font-size: 12px;
  line-height: 15px;
  top: 5px;
  opacity: 0.4 !important; }

.ns_item-dropdown__value {
  font-size: 15px;
  line-height: 18px;
  padding-right: 40px;
  color: #28292D;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  left: 15px;
  top: 21px; }

.ns_item-form {
  margin-bottom: 13px;
  position: relative; }
  .ns_item-form .item-form__title {
    padding-bottom: 1px; }
  .ns_item-form.ns_active .ns_item-form__placeholder {
    font-size: 12px;
    line-height: 15px;
    top: 5px; }
  .ns_item-form.ns_active input, .ns_item-form.ns_active textarea {
    opacity: 1; }
  .ns_item-form textarea.ns_rfield {
    padding-top: 22px; }
  .ns_item-form.ns_item-form_error::after {
    position: absolute;
    display: block;
    content: " ";
    border: 2px solid #D93439;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; }
  .ns_item-form.ns_item-form_error::before {
    position: absolute;
    display: block;
    content: " ";
    width: 15px;
    height: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../img/error_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none; }
  .ns_item-form.ns_item-form_error input, .ns_item-form.ns_item-form_error textarea {
    padding-right: 35px; }
  .ns_item-form .ns_item-form__errortext {
    font-size: 12px;
    line-height: 15px;
    padding: 3px 5px;
    color: #fff;
    background: #28292D;
    border-radius: 3px;
    right: 15px;
    top: -8px;
    transform: translateX(41%);
    position: absolute;
    white-space: nowrap;
    display: inline-block;
    z-index: 2; }
    .ns_item-form .ns_item-form__errortext::after {
      position: absolute;
      display: block;
      content: " ";
      width: 6px;
      height: 6px;
      top: 100%;
      left: 0;
      right: 0;
      margin: auto;
      border: 3px transparent solid;
      border-top: 3px #28292D solid; }

.ns_item-form__errortext {
  display: none; }

.ns_item-dropdown {
  position: relative; }
  .ns_item-dropdown .ns_item-form__placeholder {
    opacity: 1; }
  .ns_item-dropdown .ns_active .ns_item-form__placeholder {
    font-size: 12px;
    line-height: 15px;
    top: 5px; }

.ns_item-dropdown__content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 15px;
  line-height: 18px;
  background-color: #fff;
  z-index: 200;
  display: none;
  transition: all 0.3s; }

.ns_item-dropdown__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column; }
  .ns_item-dropdown__list li {
    padding: 7px 15px;
    cursor: pointer;
    text-align: left;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .ns_item-dropdown__list li:hover, .ns_item-dropdown__list li.ns_active {
      color: #fff;
      background-color: #28292D; }
    .ns_item-dropdown__list li.ns_active {
      -webkit-order: -1;
      -moz-order: -1;
      -ms-order: -1;
      -o-order: -1;
      order: -1; }

.ns_radio,
.ns_checkbox {
  text-align: left; }
  .ns_radio label input,
  .ns_checkbox label input {
    position: absolute;
    z-index: -1;
    height: 1px !important;
    width: 1px !important;
    opacity: 0 !important;
    margin: 1px 0 0 7px !important; }
    .ns_radio label input:checked + span,
    .ns_checkbox label input:checked + span {
      opacity: 1; }
      .ns_radio label input:checked + span:hover,
      .ns_checkbox label input:checked + span:hover {
        opacity: 0.8; }
    .ns_radio label input:checked + span::after,
    .ns_checkbox label input:checked + span::after {
      opacity: 1; }
  .ns_radio label span,
  .ns_checkbox label span {
    position: relative;
    padding: 0px 0 0 23px;
    display: block;
    opacity: 0.4;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .ns_radio label span:hover,
    .ns_checkbox label span:hover {
      opacity: 1; }
    .ns_radio label span:before,
    .ns_checkbox label span:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 12px;
      height: 12px;
      border: solid 1px #28292D;
      border-radius: 50%;
      transition: .2s; }
    .ns_radio label span:after,
    .ns_checkbox label span:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #28292D;
      background-image: url(../img/arrow_check.svg);
      background-repeat: no-repeat;
      background-position: center;
      transition: .2s;
      opacity: 0; }

.ns_radio label span:after {
  background-image: url(../img/radio_active.svg); }

.ns_item-dropdown__filter {
  padding: 40px 30px;
  padding-top: 20px; }
  .ns_item-dropdown__filter ul li {
    white-space: nowrap;
    margin-bottom: 15px; }

.ns_item-dropdown__bottom {
  padding-top: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  .ns_item-dropdown__bottom .ns_btn-main {
    width: 46%;
    padding: 0; }

.ns_btn-view {
  width: 30px;
  height: 30px;
  right: 15px;
  bottom: 15px;
  position: absolute;
  background-color: #28292D;
  display: inline-block;
  border-radius: 50%;
  background-image: url(../img/ic_view2.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .ns_btn-view:hover {
    background-color: rgba(40, 41, 45, 0.8); }

.ns_checkbox-slide {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700; }
  .ns_checkbox-slide input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px; }
    .ns_checkbox-slide input:checked + .ns_checkbox-slide__text:before {
      background: #3E3EBA; }
    .ns_checkbox-slide input:checked + .ns_checkbox-slide__text:after {
      right: 2px; }
  .ns_checkbox-slide .ns_checkbox-slide__text {
    position: relative;
    padding: 0 60px 0 0px;
    cursor: pointer; }
    .ns_checkbox-slide .ns_checkbox-slide__text:before {
      content: '';
      position: absolute;
      top: -7px;
      right: 0;
      width: 51px;
      height: 30px;
      border-radius: 100px;
      background: #AEAFB7;
      transition: .2s; }
    .ns_checkbox-slide .ns_checkbox-slide__text:after {
      content: '';
      position: absolute;
      top: -5px;
      right: 23px;
      width: 26px;
      height: 26px;
      border-radius: 100px;
      background: #fff;
      transition: .2s; }

.ns_calendar {
  position: relative; }

.ns_calendar__title {
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 20px;
  text-align: center; }

.ns_calendar-dayweek {
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 5px;
  margin-bottom: 8px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px #e0e0e0 solid; }

.ns_calendar-days {
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .ns_calendar-days:last-of-type {
    margin-bottom: 0; }

.ns_calendar-days__item {
  width: 14%;
  padding: 8px 0;
  margin: 2px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
  position: relative;
  z-index: 2; }
  .ns_calendar-days__item::after {
    position: absolute;
    display: block;
    content: " ";
    left: -2px;
    right: -2px;
    height: 100%;
    top: 0;
    background-color: #d4d4d5;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s; }
  .ns_calendar-days__item:hover {
    background: #F2F2F2; }
  .ns_calendar-days__item.ns_inactive {
    color: #D3D3D6;
    cursor: inherit;
    background-color: transparent; }
  .ns_calendar-days__item.ns_active {
    background-color: #28292D;
    color: #fff; }
  .ns_calendar-days__item.ns_active-range::after {
    opacity: 1; }

.ns_bottom-popup-form {
  margin-top: 30px;
  text-align: center; }
  .ns_bottom-popup-form .ns_btn-main.ns_btn-main_page {
    width: 100%;
    max-width: 100%;
    margin-bottom: 14px; }

.ns_clear-filter {
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: transparent;
  color: #28292D;
  opacity: 0.4;
  font-size: 15px;
  line-height: 18px;
  transition: all 0.3s;
  padding-right: 13px;
  position: relative; }
  .ns_clear-filter::after {
    position: absolute;
    display: block;
    content: " ";
    width: 8px;
    height: 8px;
    right: 0;
    top: 2px;
    bottom: 0;
    margin: auto;
    background-image: url(../img/clear_filter.svg);
    background-repeat: no-repeat;
    background-position: center; }
  .ns_clear-filter:hover {
    opacity: 1; }

.ns_calendar__arrow {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer; }
  .ns_calendar__arrow img {
    transition: all 0.3s; }
  .ns_calendar__arrow.ns_inactive img {
    opacity: 0.4; }
  .ns_calendar__arrow.ns_calendar__arrow_down {
    right: 0px;
    left: auto; }

.ns_item-dropdown__close {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: url(../img/ic_close_dropdown.svg);
  transition: all 0.3s;
  opacity: 0.4;
  cursor: pointer; }
  .ns_item-dropdown__close:hover {
    opacity: 1; }

.ns_range-controls__item {
  width: 50%;
  position: relative; }
  .ns_range-controls__item input {
    height: 50px;
    text-align: center;
    border: none;
    width: 100%;
    background-color: transparent;
    font-size: 15px;
    line-height: 18px;
    color: #28292D; }
  .ns_range-controls__item:first-child::after {
    position: absolute;
    display: block;
    content: " ";
    width: 1px;
    height: 14px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #28292D; }

.ns_range {
  margin-bottom: 10px;
  border: 1px solid #AEAFB7; }

.ns_range-controls {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.irs--flat {
  height: 3px; }
  .irs--flat .irs-line {
    height: 3px;
    top: 2px;
    background-color: transparent; }
  .irs--flat .irs-bar {
    top: 2px;
    height: 3px;
    background-color: #28292D; }
  .irs--flat .irs-handle {
    width: 21px;
    height: 21px;
    top: -7px;
    background: #fff;
    cursor: pointer;
    border: 1px solid #AEAFB7;
    box-shadow: 0px 0px 10px rgba(40, 41, 45, 0.2);
    border-radius: 50%; }
    .irs--flat .irs-handle i {
      display: none !important; }

.irs > .irs > *:not(.irs-line) {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  color: transparent !important; }

.ns_range-title {
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 1px;
  padding-top: 20px;
  font-weight: 700; }

.ns_list-radio .ns_radio {
  margin-bottom: 9px; }

.ns_range + .ns_list-radio {
  margin-top: 30px; }

.ns_item-dropdown__name {
  font-size: 15px;
  padding-bottom: 15px;
  line-height: 18px;
  font-weight: 700; }

.ns_list-radio + .ns_item-dropdown__name {
  margin-top: 30px; }

.ns_line-radio {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .ns_line-radio .ns_checkbox {
    margin-right: 30px; }
    .ns_line-radio .ns_checkbox:last-child {
      margin-right: 0; }

.ns_item-form_shadow input, .ns_item-form_shadow textarea {
  border: none;
  opacity: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }

.ns_text-regular_form {
  padding-top: 15px;
  color: #AEAFB7 !important; }

.ns_settings-widget {
  padding: 10px 15px;
  background: #28292D;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 3px;
  bottom: 100%;
  margin: 0 auto;
  margin-bottom: 5px;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  align-items: center; }

.ns_types-widget {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center; }
  .ns_types-widget li {
    margin-right: 10px; }
    .ns_types-widget li a {
      opacity: 0.4;
      vertical-align: middle;
      display: inline-block;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .ns_types-widget li a:hover {
        opacity: 1; }
    .ns_types-widget li.ns_active a {
      opacity: 1; }

.ns_widget-item {
  margin-right: 15px;
  border-right: 1px #AEAFB7 solid;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center; }
  .ns_widget-item:last-child {
    margin-right: 0;
    border: none; }
    .ns_widget-item:last-child .ns_item-dropdown_widget {
      margin-right: 0; }

.ns_widget-item__title {
  font-size: 8px;
  margin-right: 8px;
  line-height: 8px; }

.ns_item-dropdown_widget {
  margin-right: 15px;
  font-weight: 700; }
  .ns_item-dropdown_widget .ns_item-dropdown__content {
    margin-top: 11px;
    left: -15px;
    min-width: 87px;
    width: auto;
    background: #28292D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); }
    .ns_item-dropdown_widget .ns_item-dropdown__content .ns_item-dropdown__list li {
      padding-top: 3px;
      padding-bottom: 3px;
      opacity: 0.4; }
      .ns_item-dropdown_widget .ns_item-dropdown__content .ns_item-dropdown__list li:hover, .ns_item-dropdown_widget .ns_item-dropdown__content .ns_item-dropdown__list li.active {
        opacity: 1; }
  .ns_item-dropdown_widget .ns_item-dropdown__input {
    height: auto;
    padding-left: 0;
    padding-right: 25px;
    border: none !important;
    opacity: 1; }
    .ns_item-dropdown_widget .ns_item-dropdown__input::after {
      right: 0;
      background-image: url(../img/triangle_white.svg); }

.ns_widget-wrap {
  margin-top: 45px;
  text-align: center; }

.ns_item-dropdown_color .ns_item-dropdown__content {
  min-width: 104px; }

.ns_item-card {
  max-width: 360px;
  background: #fff;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .ns_item-card:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); }
  .ns_item-card .ns_name-card {
    padding-bottom: 4px; }
  .ns_item-card .ns_descr-card {
    padding-bottom: 15px; }
  .ns_item-card .ns_size-card {
    margin-top: auto;
    padding-top: 15px; }

.ns_item-card__image {
  height: 185px;
  position: relative; }
  .ns_item-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;'; }

.ns_item-card__content {
  padding: 20px;
  padding-top: 16px;
  flex: 1;
  display: flex;
  flex-direction: column; }

.ns_name-card {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700; }

.ns_descr-card {
  font-size: 15px;
  line-height: 18px;
  color: #AEAFB7 !important; }
  .ns_descr-card p {
    color: #AEAFB7 !important; }

.ns_text-card {
  font-size: 18px;
  line-height: 24px;
  color: #000; }

.ns_size-card {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #AEAFB7 !important; }

.ns_tag-card {
  font-size: 12px;
  line-height: 15px;
  padding: 7px 10px;
  position: absolute;
  top: 15px;
  left: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: #3E3EBA;
  border-radius: 3px;
  z-index: 2;
  display: inline-block; }

.ns_row_cards > div {
  margin-bottom: 30px; }

.ns_item-card__bottom {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .ns_item-card__bottom .ns_item-card__price, .ns_item-card__bottom .ns_item-card__size {
    padding-top: 10px; }
  .ns_item-card__bottom > div:nth-child(2) {
    text-align: right; }

.ns_item-card__date {
  font-size: 15px;
  line-height: 18px; }

.ns_item-card__size {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700; }

.ns_item-card__oldprice {
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #AEAFB7; }

.ns_item-card__price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700; }

.ns_item-card__newdate {
  font-size: 15px;
  line-height: 18px;
  color: #AEAFB7 !important; }

.ns_item-card_blog .ns_item-card__content {
  min-height: 219px;
  padding-bottom: 45px;
  position: relative; }
  .ns_item-card_blog .ns_item-card__content .ns_item-card__newdate {
    position: absolute;
    left: 20px;
    bottom: 20px; }
  .ns_item-card_blog .ns_item-card__content .ns_name-card {
    padding-bottom: 10px; }

.fancybox-navigation .fancybox-button {
  top: 50%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #F2F2F2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 0 !important; }
  .fancybox-navigation .fancybox-button svg {
    display: none; }
  .fancybox-navigation .fancybox-button:before {
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
.fancybox-navigation .fancybox-button--arrow_left {
  left: -65px; }
  .fancybox-navigation .fancybox-button--arrow_left:before {
    background-image: url(../img/prev.svg); }
.fancybox-navigation .fancybox-button--arrow_right {
  right: -65px; }
  .fancybox-navigation .fancybox-button--arrow_right:before {
    background-image: url(../img/next.svg); }

.fancybox-button[disabled]::before {
  opacity: 0.4; }

.fancybox-thumbs__list a:before {
  display: none; }

.fancybox-thumbs__list a,
.slick-dots li button {
  width: 8px;
  height: 8px;
  padding: 0 !important;
  background-color: #28292D !important;
  border-radius: 50%;
  cursor: pointer;
  background-image: none !important;
  opacity: 0.4;
  border: none !important;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.fancybox-thumbs__list a {
  margin: 15px 5px;
  background-color: #fff !important; }

.fancybox-button--thumbs {
  display: none; }

.fancybox-thumbs__list a.fancybox-thumbs-active,
.slick-dots li button:hover,
.slick-dots li button:focus {
  opacity: 1; }

.fancybox-thumbs__list a.fancybox-thumbs-active,
.slick-dots li.slick-active button {
  opacity: 1;
  transform: scale(1.5); }

.fancybox-bg {
  background: #a9a9ab;
  opacity: 1 !important; }

.fancybox-infobar, .fancybox-navigation .fancybox-button {
  opacity: 1 !important;
  mix-blend-mode: normal;
  visibility: visible !important; }

.fancybox-button--play,
.fancybox-button--zoom {
  display: none !important; }

.fancybox-button {
  background-color: transparent;
  color: #fff; }

.fancybox-inner,
.fancybox-content {
  max-width: 1140px !important;
  margin: 0 auto;
  width: 100%; }

.fancybox-button--close {
  position: fixed;
  top: 5px;
  right: 5px; }

.fancybox-infobar {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  top: auto;
  bottom: -10px;
  right: 0;
  left: auto;
  font-family: 'GT Walsheim Pro'; }

.fancybox-infobar span[data-fancybox-index] {
  font-weight: 700; }

.fancybox-show-thumbs .fancybox-inner {
  right: 0; }

.fancybox-thumbs {
  max-width: 1140px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: transparent;
  width: 100%;
  bottom: 0;
  top: auto; }

.fancybox-slide--image {
  padding: 44px 0; }

.fancybox-slide:before {
  display: none !important; }

.ns_slider-modal__item {
  height: calc(100vh - 100px);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center; }
  .ns_slider-modal__item img {
    max-width: 100%;
    max-height: 100%; }

.fancybox-skin {
  padding: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important; }
  .fancybox-skin .ns_slick-dots-container {
    position: absolute;
    left: 0px;
    top: 100%;
    margin: 0;
    margin-top: 12px; }
  .fancybox-skin .slick-dots li button {
    background-color: #fff !important; }

.fancybox-overlay {
  background: #a9a9ab;
  opacity: 1 !important; }

.ns_slider-modal .slick-list {
  overflow: hidden; }
.ns_slider-modal .slick-prev {
  left: -60px; }
.ns_slider-modal .slick-next {
  right: -60px; }

.fancybox-close {
  width: 45px;
  height: 45px;
  position: fixed;
  top: 0;
  right: 0;
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 18px 18px;
  background-size: 18px 18px; }

.ns_slider-counter__numbers {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-align: right; }

.ns_slider-counter__numbers span {
  font-weight: 700; }

.ns_modal-block .ns_slick-dots-container {
  position: absolute;
  top: 100%; }

.ns_slider-counter {
  margin-top: 8px; }

.ns_modal-block {
  display: none; }

.fancybox-inner {
  overflow: visible !important; }

.ns_modal-wrap {
  width: 1170px;
  max-width: 100%;
  margin-top: 15px; }

.ns_fancy-preloader {
  position: fixed;
  z-index: 4000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #a9a9ab;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center; }

.ns_circle-preloader {
  width: 4em;
  height: 4em;
  margin: auto;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-spinner-pulse 1.0s infinite ease-in-out;
  animation: sk-spinner-pulse 1.0s infinite ease-in-out; }

@-webkit-keyframes sk-spinner-pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@keyframes sk-spinner-pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
.ns_footer {
  padding: 60px 0;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  background-color: #28292D;
  position: relative; }
  .ns_footer .ns_logo-footer {
    margin-top: 10px;
    margin-bottom: 0px; }
  .ns_footer .ns_social-list {
    margin-top: 0px; }

.ns_btn-top {
  top: 60px;
  right: 20px;
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #28292D;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 22;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .ns_btn-top img {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .ns_btn-top:hover img {
    opacity: 0.4; }

.ns_logo-footer {
  display: inline-block; }
  .ns_logo-footer img {
    max-width: 94px;
    height: auto; }

.ns_nav-footer li {
  margin-bottom: 15px; }
  .ns_nav-footer li a {
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .ns_nav-footer li a:hover {
      opacity: 0.4; }

.ns_footer__title {
  font-size: 15px;
  line-height: 18px;
  margin-top: 60px;
  margin-bottom: 5px;
  color: #AEAFB7 !important; }
  .ns_footer__title a {
    color: #AEAFB7; }
  .ns_footer__title span {
    color: #AEAFB7; }

.ns_list-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .ns_list-footer li {
    margin-top: 10px;
    margin-right: 30px; }
    .ns_list-footer li:last-child {
      margin-right: 0; }
    .ns_list-footer li a {
      color: #fff;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .ns_list-footer li a:hover {
        opacity: 0.4; }
      .ns_list-footer li a span {
        font-size: 12px;
        line-height: 15px;
        font-weight: 700;
        padding: 4px 5px;
        padding-bottom: 2px;
        background: #53545B;
        border-radius: 3px;
        text-transform: uppercase; }

.ns_nav-footer_bottom {
  margin-top: 50px; }

.ns_social-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .ns_social-list li {
    margin-right: 15px; }
    .ns_social-list li:last-child {
      margin-right: 0; }
    .ns_social-list li a {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: -webkit-inline-flex;
      display: -moz-inline-flex;
      display: -ms-inline-flex;
      display: -o-inline-flex;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .ns_social-list li a img {
        max-width: 100%;
        max-height: 100%; }
      .ns_social-list li a:hover {
        opacity: 0.4; }

.ns_btn-callback {
  width: 60px;
  height: 60px;
  right: 45px;
  bottom: 45px;
  border-radius: 50%;
  background-color: #3E3EBA;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.298039);
  background-image: url(../img/ic_callback.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  transition: all 0.3s;
  z-index: 800; }
  .ns_btn-callback::before {
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: radial-pulse 1s infinite; }
  .ns_btn-callback.ns_btn-callback_page {
    bottom: 20px;
    right: 20px; }

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(62, 62, 186, 0.4); }
  100% {
    box-shadow: 0 0 0 20px rgba(62, 62, 186, 0); } }
.ns_contact-footer-mob {
  color: #AEAFB7; }
  .ns_contact-footer-mob * {
    color: #AEAFB7 !important; }

.ns_line-bottom-footer {
  margin-top: 52px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.ns_contact-footer-mob {
  margin-left: 30px;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .ns_contact-footer-mob a {
    color: #AEAFB7;
    transition: all 0.3s; }
    .ns_contact-footer-mob a:hover {
      opacity: 0.4; }
  .ns_contact-footer-mob span {
    margin: 0 5px; }

.ns_phone-footer {
  font-size: 24px;
  line-height: 35px;
  color: #fff; }

[data-size="0px"] .ns_admin-area {
  margin-bottom: 0px; }

[data-size="30px"] .ns_admin-area {
  margin-bottom: 30px; }

[data-size="60px"] .ns_admin-area {
  margin-bottom: 60px; }

[data-size="90px"] .ns_admin-area {
  margin-bottom: 90px; }

[data-size="120px"] .ns_admin-area {
  margin-bottom: 120px; }

.ns_color-widget-white {
  background-color: #fff; }

.ns_color-widget-black {
  background-color: #28292D; }
  .ns_color-widget-black .slick-slider:not(.ns_slider-modal) .slick-arrow {
    background-color: #28292D; }

.ns_color-widget-blue {
  background-color: #3E3EBA; }
  .ns_color-widget-blue .slick-slider:not(.ns_slider-modal) .slick-arrow {
    background-color: #3E3EBA; }

.ns_color-widget-black *,
.ns_color-widget-blue * {
  color: #fff; }
.ns_color-widget-black .ns_item-dropdown__input,
.ns_color-widget-black .ns_item-form input,
.ns_color-widget-black .ns_item-form textarea,
.ns_color-widget-blue .ns_item-dropdown__input,
.ns_color-widget-blue .ns_item-form input,
.ns_color-widget-blue .ns_item-form textarea {
  border-color: #fff;
  color: #fff; }
.ns_color-widget-black *::-webkit-input-placeholder,
.ns_color-widget-blue *::-webkit-input-placeholder {
  color: #fff;
  opacity: 1; }
.ns_color-widget-black *:-moz-placeholder,
.ns_color-widget-blue *:-moz-placeholder {
  color: #fff;
  opacity: 1; }
.ns_color-widget-black *::-moz-placeholder,
.ns_color-widget-blue *::-moz-placeholder {
  color: #fff;
  opacity: 1; }
.ns_color-widget-black *:-ms-input-placeholder,
.ns_color-widget-blue *:-ms-input-placeholder {
  color: #fff;
  opacity: 1; }
.ns_color-widget-black .ns_item-card__content *, .ns_color-widget-black .ns_item-dropdown__content *:not(.ns_btn-main),
.ns_color-widget-blue .ns_item-card__content *,
.ns_color-widget-blue .ns_item-dropdown__content *:not(.ns_btn-main) {
  color: #28292D; }
.ns_color-widget-black .ns_item-dropdown__list li:hover, .ns_color-widget-black .ns_item-dropdown__list li.ns_active,
.ns_color-widget-blue .ns_item-dropdown__list li:hover,
.ns_color-widget-blue .ns_item-dropdown__list li.ns_active {
  color: #fff; }
.ns_color-widget-black .ns_settings-widget .ns_item-dropdown__list li,
.ns_color-widget-blue .ns_settings-widget .ns_item-dropdown__list li {
  color: #fff; }
.ns_color-widget-black .ns_item-dropdown__input::after,
.ns_color-widget-blue .ns_item-dropdown__input::after {
  background-image: url(../img/triangle_white.svg); }
.ns_color-widget-black .slick-slider:not(.ns_slider-modal) .slick-prev::before,
.ns_color-widget-blue .slick-slider:not(.ns_slider-modal) .slick-prev::before {
  background-image: url(../img/prev2.svg); }
.ns_color-widget-black .slick-slider:not(.ns_slider-modal) .slick-next::before,
.ns_color-widget-blue .slick-slider:not(.ns_slider-modal) .slick-next::before {
  background-image: url(../img/next2.svg); }
.ns_color-widget-black .slick-dots li button,
.ns_color-widget-blue .slick-dots li button {
  background-color: #fff !important; }
.ns_color-widget-black .ns_btn-main.ns_btn-main_page,
.ns_color-widget-blue .ns_btn-main.ns_btn-main_page {
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
  .ns_color-widget-black .ns_btn-main.ns_btn-main_page:hover,
  .ns_color-widget-blue .ns_btn-main.ns_btn-main_page:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); }
.ns_color-widget-black .ns_item-form .ns_item-form__placeholder,
.ns_color-widget-blue .ns_item-form .ns_item-form__placeholder {
  color: #fff;
  opacity: 0.4; }
.ns_color-widget-black .ns_tabs,
.ns_color-widget-blue .ns_tabs {
  background-color: rgba(255, 255, 255, 0.2); }

.slick-dots {
  bottom: 5px; }
  .slick-dots li {
    width: 8px;
    height: 8px; }
    .slick-dots li button:before {
      display: none !important; }

.ns_slider-cards {
  padding-bottom: 20px;
  margin: 0 -15px; }
  .ns_slider-cards .ns_item-card {
    margin: 30px auto; }
  .ns_slider-cards .slick-arrow.slick-prev {
    left: -45px; }
  .ns_slider-cards .slick-arrow.slick-next {
    right: -45px; }

.slick-arrow {
  top: 50%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
  .slick-arrow::before {
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    opacity: 0.4 !important;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .slick-arrow.slick-prev {
    left: 0; }
    .slick-arrow.slick-prev:before {
      background-image: url(../img/prev.svg); }
  .slick-arrow.slick-next {
    right: 0; }
    .slick-arrow.slick-next:before {
      background-image: url(../img/next.svg); }
  .slick-arrow:hover::before {
    opacity: 1 !important; }

.ns_slider-wrapper {
  width: calc(100% + 140px);
  padding: 0 70px;
  margin-left: -70px;
  margin-top: -20px;
  overflow: hidden; }

.ns_slider-cards .slick-list {
  overflow: visible; }

.slick-slide .ns_item-card {
  visibility: hidden;
  opacity: 0; }

.slick-slide.slick-active .ns_item-card {
  visibility: visible;
  opacity: 1; }

.ns_slick-dots-container {
  width: 89px;
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0 auto;
  height: 15px;
  position: relative; }

.ns_slick-dots-container > ul {
  padding: 0;
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flex !important;
  display: -o-flex !important;
  display: flex !important;
  transition: all 0.25s;
  position: relative;
  margin: 0;
  list-style: none;
  transform: translateX(0);
  align-items: center;
  bottom: unset;
  height: 100%; }

.n-small-1 button,
.p-small-1 button {
  transform: scale(0.8); }

.ns_slider-cards .slick-slide {
  height: auto !important; }

.container .ns_slider-cards .ns_item-card {
  min-height: auto !important; }

.container .slick-slide {
  height: auto !important; }

.ns_tag-date {
  font-size: 15px;
  line-height: 18px;
  padding: 7px 10px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  background-color: #28292D;
  border-radius: 3px; }

.ns_location-descr {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.ns_location-descr__item {
  margin-left: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center; }
  .ns_location-descr__item img {
    margin-right: 10px; }
  .ns_location-descr__item:first-child {
    margin-left: 0; }

.ns_location-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .ns_location-block .ns_title-block {
    margin-top: 15px;
    margin-bottom: 5px; }
  .ns_location-block .ns_descr-italic {
    margin-top: 30px; }

.ns_descr-italic {
  font-size: 18px;
  line-height: 24px;
  color: #AEAFB7;
  font-style: italic; }

.ns_location-bottom {
  padding: 33px 0;
  transform: translateY(100%);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 800;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .ns_location-bottom .ns_location-descr {
    color: #AEAFB7; }
  .ns_location-bottom .ns_title-block {
    margin-top: 0; }
  .ns_location-bottom.ns_fixed {
    transform: translateY(0); }
  .ns_location-bottom .ns_item-dropdown__content {
    top: auto;
    bottom: 100%; }
    .ns_location-bottom .ns_item-dropdown__content .ns_item-dropdown__filter {
      padding-top: 20px;
      padding-bottom: 0px; }
  .ns_location-bottom .ns_item-form {
    margin: 0; }
    .ns_location-bottom .ns_item-form input, .ns_location-bottom .ns_item-form textarea, .ns_location-bottom .ns_item-form .ns_item-dropdown__input {
      border: none; }
  .ns_location-bottom.ns_location-bottom_main {
    padding: 20px 0; }

.ns_location-block__mobile-address {
  font-size: 15px;
  line-height: 18px;
  margin: 15px 0;
  color: #AEAFB7; }

.ns_title-block {
  font-size: 24px;
  line-height: 35px;
  font-weight: 700; }

.ns_desc-block {
  font-size: 18px;
  line-height: 24px; }

.line-office__wrap {
  display: flex;
  align-items: center;
  flex: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px; }
  .line-office__wrap .line-office__item {
    flex: 1;
    border-right: 1px solid #AEAFB7; }
    .line-office__wrap .line-office__item:last-child {
      border: none; }
    .line-office__wrap .line-office__item:first-child .ns_item-form_error::after {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
  .line-office__wrap .line-office__wrap {
    box-shadow: none; }

.line-office {
  display: flex;
  align-items: center; }
  .line-office .ns_btn-main.ns_btn-main_page {
    margin-left: 10px;
    width: 165px;
    padding-left: 0;
    padding-right: 0; }

.ns_location-slider {
  position: relative; }

.ns_location-link {
  position: absolute;
  top: 30px;
  left: 30px;
  background: #fff;
  border-radius: 3px;
  color: #28292D;
  font-size: 18px;
  line-height: 24px;
  padding: 3px 10px;
  z-index: 2;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .ns_location-link * {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .ns_location-link img {
    margin-left: 10px;
    margin-right: 5px; }
  .ns_location-link:hover * {
    opacity: 0.4; }

.ns_slider-location .ns_slick-dots-container {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto; }
.ns_slider-location .slick-dots li button {
  background-color: #fff !important; }
.ns_slider-location .slick-prev {
  left: -60px; }
.ns_slider-location .slick-next {
  right: -60px; }

.ns_slider-location__item img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block; }

.ns_tabs {
  padding: 3px;
  background: #EAEAEA;
  border-radius: 5px;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center; }
  .ns_tabs li {
    flex: 1; }
    .ns_tabs li a {
      padding: 10px 0;
      border-radius: 5px;
      font-size: 18px;
      line-height: 24px;
      color: #AEAFB7;
      display: block;
      position: relative;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .ns_tabs li a:hover {
        color: #28292D;
        background: #fff;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); }
    .ns_tabs li.ns_active a {
      color: #28292D;
      background: #fff;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); }

.ns_tab-pane__image img {
  max-width: 100%;
  height: auto;
  display: block; }

.ns_tab-pane__text {
  font-size: 24px;
  line-height: 35px; }

.ns_tabs-pane-bottom, .ns_tab-pane {
  display: none; }
  .ns_tabs-pane-bottom:first-child, .ns_tab-pane:first-child {
    display: block; }

.ns_tabs-wrap {
  max-width: 810px;
  margin: 0 auto;
  position: relative; }

.ns_tab-active {
  background-color: #fff;
  position: absolute;
  top: 3px;
  width: 201px;
  height: 44px;
  transition: all 0.5s;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); }

.ns_tabs-bottom {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .ns_tabs-bottom li {
    margin-right: 10px; }
    .ns_tabs-bottom li a {
      font-size: 12px;
      line-height: 15px;
      color: #fff;
      font-weight: 700;
      padding: 9px 10px;
      padding-bottom: 6px;
      transition: all 0.3s;
      background: #28292D;
      border-radius: 15px;
      display: inline-block;
      text-transform: uppercase; }
    .ns_tabs-bottom li.ns_active a {
      background-color: #3E3EBA; }

.ns_tabs_contacts {
  position: relative;
  z-index: 2; }

.ns_layout {
  padding-top: 60px;
  padding-bottom: 46px;
  background-color: #F2F2F2; }

.ns_layout-block {
  padding: 55px; }
  .ns_layout-block img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; }

.ns_layout-wrap {
  position: relative; }

.ns_layout-numbers {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column; }

.ns_layout-size__item,
.ns_layout-numbers__item {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  cursor: pointer;
  color: rgba(40, 41, 45, 0.4);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .ns_layout-size__item.ns_active,
  .ns_layout-numbers__item.ns_active {
    background-color: #28292D;
    color: #fff; }
  .ns_layout-size__item:hover,
  .ns_layout-numbers__item:hover {
    color: #fff;
    background-color: #3E3EBA; }

.ns_layout-numbers__wrap.ns_active .ns_layout-numbers__item {
  background-color: #28292D;
  color: #fff; }

.ns_layout-size {
  position: absolute;
  bottom: -6px;
  left: 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column; }

.ns_layout-size__item {
  font-size: 24px; }
  .ns_layout-size__item:hover {
    background-color: #fff;
    color: #28292D; }
  .ns_layout-size__item:last-child {
    margin-bottom: 0; }

.ns_layout-block__pane {
  display: none; }
  .ns_layout-block__pane:first-child {
    display: block; }

.ns_location {
  padding-top: 60px;
  padding-bottom: 90px; }
  .ns_location .ns_location-slider {
    margin-top: 15px; }
  .ns_location .ns_tabs {
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 60px;
    max-width: 810px; }

.ns_wrapper_location {
  padding-bottom: 120px; }

.ns_products {
  padding: 90px 0; }

.ns_more-cards {
  text-align: center; }

.ns_head-block {
  margin-bottom: 5px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2; }

input,
button {
  font-family: 'GT Walsheim Pro';
  -webkit-appearance: none; }

input {
  border-radius: 0 !important; }

.ns_btn-main {
  font-size: 15px;
  line-height: 18px;
  padding: 0 24px;
  height: 50px;
  background-color: #28292D;
  border: 1px #28292D solid;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700; }
  .ns_btn-main:hover {
    background-color: rgba(40, 41, 45, 0.8); }
  .ns_btn-main.ns_btn-main_page {
    background-color: transparent;
    color: #28292D;
    border: none;
    width: 262px;
    max-width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 100px; }
    .ns_btn-main.ns_btn-main_page:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
  .ns_btn-main.ns_btn-main_transparent {
    color: #28292D;
    background-color: #fff; }
    .ns_btn-main.ns_btn-main_transparent:hover {
      background-color: #28292D;
      color: #fff; }

.ns_btn-main.ns_btn-main_black {
  background-color: #28292D;
  color: #fff;
  box-shadow: none !important; }
  .ns_btn-main.ns_btn-main_black:hover {
    background-color: rgba(40, 41, 45, 0.8); }

.ns_link-opacity {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.4;
  color: #28292D;
  border-bottom: 1px #28292D solid;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .ns_link-opacity:hover {
    opacity: 1; }

.ns_btn-round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  transition: all 0.3s; }
  .ns_btn-round img {
    opacity: 0.4;
    transition: all 0.3s; }
  .ns_btn-round:hover img {
    opacity: 1; }

.ns_link-more {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s;
  opacity: 0.4;
  color: #28292D; }
  .ns_link-more:hover {
    opacity: 1; }
  .ns_link-more img {
    margin-left: 5px;
    transition: all 0.3s; }
  .ns_link-more.ns_active img {
    transform: rotate(-180deg); }

.ns_title-section {
  font-size: 39px;
  line-height: 45px;
  font-weight: 700; }
  .ns_title-section + .ns_descr-section {
    padding-top: 15px; }

.ns_descr-section {
  font-size: 18px;
  line-height: 24px; }

.ns_btn-main_page.ns_btn-main_background {
  background-color: #fff;
  color: #28292D !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
  .ns_btn-main_page.ns_btn-main_background:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); }

.ns_btn-main_page.ns_btn-main_border {
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important; }
  .ns_btn-main_page.ns_btn-main_border:hover {
    opacity: 0.8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important; }

.ns_btn-main_page.ns_btn-main_blue {
  background-color: #3E3EBA;
  box-shadow: none !important; }
  .ns_btn-main_page.ns_btn-main_blue:hover {
    background-color: #2c2c78; }

.ns_row_min {
  margin: 0 -7px; }
  .ns_row_min > div {
    padding: 0 7px; }

.ns_map {
  height: calc(100vh - 80px);
  position: relative;
  z-index: 0;
  background-image: url(../img/bg_map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .ns_map .ns_map_container {
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute; }
  .ns_map .ns_layout-size {
    bottom: 20px;
    left: 20px;
    z-index: 3; }
    .ns_map .ns_layout-size .ns_layout-size__item:last-child {
      margin-bottom: 0; }
  .ns_map .ns_btn-round {
    margin-left: 15px; }
    .ns_map .ns_btn-round img {
      position: relative; }
    .ns_map .ns_btn-round:first-child img {
      left: 2px; }
    .ns_map .ns_btn-round:last-child img {
      right: 2px; }

.ns_head-map {
  padding: 15px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2; }
  .ns_head-map .ns_checkbox-slide {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #fff;
    padding: 0 15px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 10px; }

.ns_head-map__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.wrapper-dropdowns-map {
  display: flex;
  align-items: center;
  flex: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px; }
  .wrapper-dropdowns-map .ns_item-dropdown {
    flex: 1; }
    .wrapper-dropdowns-map .ns_item-dropdown .ns_item-dropdown__input {
      border-top: none;
      border-bottom: none;
      border-left: none; }
    .wrapper-dropdowns-map .ns_item-dropdown:last-child .ns_item-dropdown__input {
      border: none; }
    .wrapper-dropdowns-map .ns_item-dropdown:last-child .ns_item-dropdown__content {
      right: 0;
      left: auto;
      transform: none; }
    .wrapper-dropdowns-map .ns_item-dropdown:first-child .ns_item-dropdown__content {
      width: 335px; }
    .wrapper-dropdowns-map .ns_item-dropdown .ns_item-dropdown__content {
      width: 420px;
      left: 50%;
      padding: 30px;
      transform: translateX(-50%); }
    .wrapper-dropdowns-map .ns_item-dropdown .ns_item-dropdown__filter {
      padding: 0; }

.ns_map__wrap-card__content {
  width: 367px;
  overflow: auto;
  position: relative;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 5px;
  z-index: 1; }
  .ns_map__wrap-card__content::-webkit-scrollbar {
    width: 0;
    background: #EAEAEA;
    border-radius: 0px 0px 5px 0px; }
  .ns_map__wrap-card__content::-webkit-scrollbar-thumb {
    background-color: #28292D;
    border-radius: 5px; }
  .ns_map__wrap-card__content:hover::-webkit-scrollbar {
    width: 7px; }

.ns_map__wrap-card {
  top: 30px;
  right: 15px;
  bottom: 95px;
  position: absolute;
  display: flex;
  z-index: 1; }
  .ns_map__wrap-card .ns_item-card {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    padding-bottom: 80px;
    box-shadow: none !important; }
  .ns_map__wrap-card .ns_btn-main {
    position: absolute;
    width: 320px;
    left: 20px;
    bottom: 20px;
    background-color: #fff;
    z-index: 2; }
  .ns_map__wrap-card::before {
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    max-width: 360px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    pointer-events: none;
    z-index: -1; }

.ns_line-office {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px #e0e0e0 solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #28292D;
  transition: all 0.3s; }
  .ns_line-office .ns_text-regular_underline {
    text-decoration: line-through;
    opacity: 0.4; }
  .ns_line-office:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none; }
  .ns_line-office * {
    display: block; }
  .ns_line-office:hover {
    opacity: 0.8; }

.ns_line-office__right {
  text-align: right; }

.ns_arrows-map {
  position: absolute;
  right: 100%;
  top: 0;
  margin-right: 15px; }
  .ns_arrows-map .ns_btn-round {
    margin-bottom: 15px; }

.ns_btn-type-map {
  top: 30px;
  left: 15px;
  position: absolute;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  background-color: #fff;
  transition: all 0.3s;
  padding-left: 15px;
  padding-right: 20px;
  display: inline-flex;
  align-items: center;
  color: #28292D;
  height: 46px; }
  .ns_btn-type-map * {
    opacity: 0.4;
    transition: all 0.3s; }
  .ns_btn-type-map img {
    margin-left: 12px; }
  .ns_btn-type-map:hover * {
    opacity: 1; }

.ns_btn-clear {
  background: #fff;
  padding: 4px 15px;
  padding-bottom: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  cursor: pointer; }
  .ns_btn-clear * {
    opacity: 0.4;
    transition: all 0.3s; }
  .ns_btn-clear img {
    margin-top: 4px;
    margin-left: 5px; }
  .ns_btn-clear:hover * {
    opacity: 1; }

.wrap-map-clear {
  bottom: 20px;
  width: 100%;
  text-align: center;
  position: absolute; }

.ns_item-map {
  top: 179px;
  left: 47%;
  padding: 10px;
  background: #3E3EBA;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  z-index: 10;
  position: absolute; }
  .ns_item-map:after {
    position: absolute;
    display: block;
    content: " ";
    width: 6px;
    height: 6px;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 6px solid transparent;
    border-top: 6px solid #3E3EBA; }

.ns_item-map__name {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  margin-bottom: -6px;
  text-align: center; }

.ns_item-map__link {
  font-size: 9px;
  line-height: 8px;
  color: #fff;
  display: inline-block;
  border-bottom: 1px #fff solid;
  transition: all 0.3s; }
  .ns_item-map__link:hover {
    opacity: 0.4; }

.ns_main-map {
  min-height: 620px;
  background-image: url(../img/main_map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  .ns_main-map .ns_layout-size {
    bottom: 40px; }
  .ns_main-map .container-fluid {
    position: relative; }
  .ns_main-map .ns_map__wrap-card {
    top: 140px;
    width: 360px; }
    .ns_main-map .ns_map__wrap-card .ns_item-card {
      padding-bottom: 0;
      left: auto;
      right: 0;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important; }
    .ns_main-map .ns_map__wrap-card .ns_arrows-map {
      right: 0;
      bottom: 100%;
      top: auto;
      display: flex;
      margin: 0; }
      .ns_main-map .ns_map__wrap-card .ns_arrows-map .ns_btn-round {
        margin-left: 15px; }
        .ns_main-map .ns_map__wrap-card .ns_arrows-map .ns_btn-round img {
          position: relative; }
        .ns_main-map .ns_map__wrap-card .ns_arrows-map .ns_btn-round:first-child img {
          left: -2px; }
        .ns_main-map .ns_map__wrap-card .ns_arrows-map .ns_btn-round:last-child img {
          right: -2px; }

.ns_cooperation {
  padding: 90px 0; }
  .ns_cooperation .ns_btn-main.ns_btn-main_page {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px; }
    .ns_cooperation .ns_btn-main.ns_btn-main_page:last-child {
      margin-bottom: 0; }

.ns_contacts {
  padding-top: 60px;
  padding-bottom: 120px; }
  .ns_contacts .ns_item-form {
    margin-bottom: 15px; }
    .ns_contacts .ns_item-form textarea {
      height: 86px; }
  .ns_contacts .ns_btn-main_page {
    margin-top: 15px;
    width: 100%; }
  .ns_contacts .ns_text-big {
    margin-top: 20px;
    margin-bottom: 15px; }
  .ns_contacts .ns_form-contacts {
    margin-top: 60px; }

.ns_contacts__image {
  height: 326px; }
  .ns_contacts__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;'; }

.ns_departaments {
  padding-bottom: 120px; }
  .ns_departaments .ns_text-big a {
    color: #AEAFB7;
    transition: all 0.3s;
    border-bottom: 1px transparent solid; }
    .ns_departaments .ns_text-big a:hover {
      border-color: #AEAFB7; }
  .ns_departaments .ns_text-big p {
    margin-bottom: 15px; }
    .ns_departaments .ns_text-big p:last-child {
      margin-bottom: 0; }
  .ns_departaments .ns_title-block {
    margin-top: 90px; }
    .ns_departaments .ns_title-block:first-of-type {
      margin-top: 0; }

.ns_item-contact {
  margin-top: 30px; }

.ns_big-phone {
  padding-top: 120px;
  font-size: 60px;
  line-height: 60px; }

.ns_row_contacts {
  margin-top: 60px; }

body {
  font-family: 'GT Walsheim Pro';
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  color: #28292D;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: normal; }

.ns_wrapper {
  min-height: 100vh;
  overflow: hidden; }

a {
  text-decoration: none;
  outline: none; }

* {
  outline: none !important; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style-type: none;
  outline: none; }

img {
  outline: none;
  display: block; }

p {
  padding: 0;
  margin: 0; }

.container {
  position: relative; }

.container-fluid {
  max-width: 1440px; }

.ns_text-regular,
.ns_text-bold {
  font-size: 15px;
  line-height: 18px; }

.ns_text-bold {
  font-weight: 700; }

.ns_text-big {
  font-size: 18px;
  line-height: 24px; }
  .ns_text-big.ns_text-big_bold {
    font-weight: 700; }

/*# sourceMappingURL=main.css.map */
