$ns_gray: #AEAFB7; 
$ns_black: #000;
$ns_white: #fff;
$ns_smooth: all 0.3s;
$ns_main_color: #28292D;
$ns_blue: #3E3EBA;

@import "ns_form.scss";
@import "ns_widget.scss";
@import "ns_card.scss";
@import "ns_popup.scss";
@import "ns_footer.scss";
@import "ns_sizes.scss";
@import "ns_colors.scss";
@import "ns_slider.scss";
@import "ns_location-block.scss";
@import "ns_location-slider.scss";
@import "ns_tabs.scss";
@import "ns_layout.scss";
@import "ns_location.scss";
@import "ns_products.scss";
@import "ns_elements.scss";
@import "ns_map.scss";
@import "ns_main-map.scss";
@import "ns_cooperation.scss";
@import "ns_contacts.scss";





body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'GT Walsheim Pro';
	font-weight: 400;
	font-size: 16px;
	overflow-x: hidden;
	color: $ns_main_color;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.ns_wrapper {
	min-height: 100vh;
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
.container-fluid {
	max-width: 1440px;
}
.ns_text-regular,
.ns_text-bold {
	font-size: 15px;
	line-height: 18px;
}
.ns_text-bold {
	font-weight: 700;
}
.ns_text-big {
	font-size: 18px;
	line-height: 24px;
	&.ns_text-big_bold {
		font-weight: 700;
	}
}