$gray: #AEAFB7;
$black: #000;
$white: #fff;
$smooth: all 0.3s;
$main_color: #28292D;
$blue: #3E3EBA;

*::-webkit-input-placeholder {
	color: $main_color;
	opacity: 1;
}
*:-moz-placeholder {
	color: $main_color;
	opacity: 1;
}
*::-moz-placeholder {
	color: $main_color;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: $main_color;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'GT Walsheim Pro';
	font-weight: 400;
	font-size: 16px;
	overflow-x: hidden;
	color: $main_color;
	margin: 0;
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	min-height: 100vh;
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}

.products {
	padding: 90px 0;
}
.item-card {
	max-width: 360px;
	background: $white;
	min-height: 100%;
	margin: 0 auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	&:hover {
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
	}
	.name-card {
		padding-bottom: 4px;
	}
	.descr-card {
		padding-bottom: 15px;
	}
	.size-card {
		padding-top: 15px;
	}
}
.item-card__image {
	height: 185px;
	position: relative;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		font-family: 'object-fit: cover;';
	}
}
.item-card__content {
	padding: 20px;
	padding-top: 16px;
}
.name-card {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}
.descr-card {
	font-size: 15px;
	line-height: 18px;
	color: $gray !important;
	p {
		color: $gray !important;
	}
}
.text-card {
	font-size: 18px;
	line-height: 24px;
	color: $black;
}
.size-card {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	color: $gray !important;
}
.tag-card {
	font-size: 12px;
	line-height: 15px;
	padding: 7px 10px;
	position: absolute;
	top: 15px;
	left: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: $white;
	background: #3E3EBA;
	border-radius: 3px;
	z-index: 2;
	display: inline-block;
}
.fancybox-navigation {
	.fancybox-button {
		top: 50%;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: #F2F2F2;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		padding: 0 !important;
		svg {
			display: none;
		}
		&:before {
			position: absolute;
			display: block;
			content: " ";
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position: center;
			-webkit-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
		}
	}
	.fancybox-button--arrow_left {
		left: -65px;
		&:before {
			background-image: url(../img/prev.svg);
		}
	}
	.fancybox-button--arrow_right {
		right: -65px;
		&:before {
			background-image: url(../img/next.svg);
		}
	}
}
.fancybox-button[disabled]::before {
	opacity: 0.4;
}
.btn-view {
	width: 30px;
	height: 30px;
	right: 15px;
	bottom: 15px;
	position: absolute;
	background-color: #28292D;
	display: inline-block;
	border-radius: 50%;
	background-image: url(../img/ic_view2.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	&:hover {
		background-color: rgba(40, 41, 45, 0.8);
	}
}
.fancybox-thumbs__list a:before {
	display: none;
}
.slick-dots {
	bottom: 5px;
	li {
		width: 8px;
		height: 8px;
		button:before {
			display: none !important;
		}
	}
}
.fancybox-thumbs__list a,
.slick-dots li button {
	width: 8px;
	height: 8px;
	padding: 0;
	background-color: #28292D !important;
	border-radius: 50%;
	cursor: pointer;
	background-image: none !important;
	opacity: 0.4;
	border: none !important;
	border-radius: 50%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.fancybox-thumbs__list a {
	margin: 15px 5px;
	background-color: $white !important;
}
.fancybox-button--thumbs {
	display: none;
}
.fancybox-thumbs__list a.fancybox-thumbs-active,
.slick-dots li button:hover,
.slick-dots li button:focus {
	opacity: 1;
}
.fancybox-thumbs__list a.fancybox-thumbs-active,
.slick-dots li.slick-active button {
	opacity: 1;
	transform: scale(1.5);
}
.fancybox-bg {
	background: #a9a9ab;
	opacity: 1 !important;
}
.fancybox-infobar, .fancybox-navigation .fancybox-button {
	opacity: 1 !important;
	mix-blend-mode: normal;
	visibility: visible !important;
}
.fancybox-button--play,
.fancybox-button--zoom {
	display: none !important;
}
.fancybox-button {
	background-color: transparent;
	color: $white;
}
.fancybox-inner,
.fancybox-content {
	max-width: 1140px !important;
	margin: 0 auto;
	width: 100%;
}
.fancybox-button--close {
	position: fixed;
	top: 5px;
	right: 5px;
}
.fancybox-infobar {
	font-size: 18px;
	line-height: 24px;
	color: $white;
	top: auto;
	bottom: -10px;
	right: 0;
	left: auto;
	font-family: 'GT Walsheim Pro';
}

.fancybox-infobar span[data-fancybox-index] {
	font-weight: 700;
}
.fancybox-show-thumbs .fancybox-inner {
	right: 0;
}
.fancybox-thumbs {
	max-width: 1140px;
	margin: 0 auto;
	left: 0;
	right: 0;
	background-color: transparent;
	width: 100%;
	bottom: 0;
	top: auto;
}
/*
.fancybox-content {
	top: 50px !important;
	bottom: 50px !important;
	width: 100% !important;
	height: auto !important;
	transform: none !important;
	cursor: inherit !important;
}
.fancybox-content img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover;';
}
*/
.group-images {
	display: none;
}
.row_cards {
	> div {
		margin-bottom: 30px;
	}
}
.item-card__bottom {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.item-card__price, .item-card__size {
		padding-top: 10px;
	}
	> div:nth-child(2) {
		text-align: right;
	}
}
.item-card__date {
	font-size: 15px;
	line-height: 18px;
}
.item-card__size {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
}
.item-card__oldprice {
	font-size: 15px;
	line-height: 18px;
	text-decoration-line: line-through;
	color: $gray;
}
.item-card__price {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
}
.btn-main {
	font-size: 15px;
	line-height: 18px;
	padding: 0 24px;
	height: 50px;
	background-color: $main_color;
	border: 1px $main_color solid;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	color: $white;
	-webkit-transition: $smooth;
	-o-transition: $smooth;
	transition: $smooth;
	font-weight: 700;
	&:hover {
		background-color: rgba(40, 41, 45, 0.8);
	}
	&.btn-main_page {
		background-color: transparent;
		color: $main_color;
		border: none;
		width: 262px;
		max-width: 100%;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		border-radius: 100px;
		&:hover {
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
		}
	}
	&.btn-main_transparent {
		color: $main_color;
		background-color: $white;
		&:hover {
			background-color: $main_color;
			color: $white;
		}
	}
}
.more-cards {
	text-align: center;
}
.slider-cards {
	padding-bottom: 20px;
	margin: 0 -15px;
	.item-card {
		margin: 30px auto;
	}
	.slick-arrow.slick-prev {
		left: -45px;
	}
	.slick-arrow.slick-next {
		right: -45px;
	}
}
.slick-arrow {
	top: 50%;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: $white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	&::before {
		position: absolute;
		display: block;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 50%;
		opacity: 0.4 !important;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	&.slick-prev {
		left: 0;
		&:before {
			background-image: url(../img/prev.svg);
		}
	}
	&.slick-next {
		right: 0;
		&:before {
			background-image: url(../img/next.svg);
		}
	}
	&:hover {
		&::before {
			opacity: 1 !important;
		}
	}
}
.title-block {
	font-size: 24px;
	line-height: 35px;
	font-weight: 700;
}
.desc-block {
	font-size: 18px;
	line-height: 24px;
}
.head-block {
	margin-bottom: 5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.admin-area {
	padding: 53px 0px;
	padding-bottom: 39px; 
	position: relative;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}
.item-dropdown__input,
.item-form input,
.item-form textarea {
	height: 50px;
	padding: 0 15px;
	font-size: 15px;
	line-height: 18px;
	width: 100%;
	border: 1px $main_color solid;
	font-family: 'GT Walsheim Pro';
	background-color: transparent;
	opacity: 0.4;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	&:hover {
		opacity: 1;
	}
}
.item-form textarea {
	height: 134px;
	padding-top: 16px;
	resize: none;
}
.item-dropdown__input {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	&::after {
		position: absolute;
		display: block;
		content: " ";
		width: 9px;
		height: 5px;
		right: 15px;
		top: 0;
		bottom: 0;
		margin: auto;
		background-image: url(../img/triangle.svg);
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	&.active {
		opacity: 1;
		&::after {
			transform: rotate(-180deg);
		}
	}
}
.item-form {
	margin-bottom: 13px;
	.item-form__title {
		padding-bottom: 1px;
	}
}
.item-dropdown {
	position: relative;
}
.item-dropdown__content {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 10px 0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	font-size: 15px;
	line-height: 18px;
	background-color: $white;
	z-index: 200;
	display: none;
}
.item-dropdown__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	li {
		padding: 7px 15px;
		cursor: pointer;
		text-align: left;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		&:hover,
		&.active {
			color: $white;
			background-color: $main_color;
		}
		&.active {
			-webkit-order: -1;
			-moz-order: -1;
			-ms-order: -1;
			-o-order: -1;
			order: -1;
		}
	}
}
.settings-widget {
	padding: 10px 15px;
	background: $main_color;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	color: $white;
	border-radius: 3px;
	bottom: 100%;
	margin: 0 auto;
	margin-bottom: 5px;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
}
.types-widget {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	li {
		margin-right: 10px;
		a {
			opacity: 0.4;
			vertical-align: middle;
			display: inline-block;
			-webkit-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
			&:hover {
				opacity: 1;
			}
		}
		&.active {
			a {
				opacity: 1;
			}
		}
	}
}
.widget-item {
	margin-right: 15px;
	border-right: 1px #AEAFB7 solid;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	&:last-child {
		margin-right: 0;
		border: none;
		.item-dropdown_widget {
			margin-right: 0;
		}
	}
}
.widget-item__title {
	font-size: 8px;
	margin-right: 8px;
	line-height: 8px;
}
.item-dropdown_widget {
	margin-right: 15px; 
	font-weight: 700;
	.item-dropdown__content {
		margin-top: 11px;
		left: -15px;
		min-width: 87px;
		width: auto;
		background: $main_color;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
		.item-dropdown__list {
			li {
				padding-top: 3px;
				padding-bottom: 3px;
				opacity: 0.4;
				&:hover,
				&.active {
					opacity: 1;
				}
			}
		}
	}
	.item-dropdown__input {
		height: auto;
		padding-left: 0;
		padding-right: 25px;
		border: none !important;
		opacity: 1;
		&::after {
			right: 0;
			background-image: url(../img/triangle_white.svg);
		}
	}
}
.widget-wrap {
	margin-top: 45px;
	text-align: center;
}
.checkbox {
	text-align: left;
	label {
		input {
			position: absolute;
			z-index: -1;
			height: 1px !important;
			width: 1px !important;
			opacity: 0 !important;
			margin: 1px 0 0 7px !important;
			&:checked + span {
				opacity: 1;
				&:hover {
					opacity: 0.8;
				}
			}
			&:checked + span::after {
				opacity: 1;
			}
		}
		span {
			position: relative;
			padding: 0px 0 0 23px;
			display: block;
			opacity: 0.4;
			cursor: pointer;
			-webkit-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
			&:hover {
				opacity: 1;
			}
			&:before {
				content: '';
				position: absolute;
				top: 3px;
				left: 0;
				width: 12px;
				height: 12px;
				border: solid 1px $main_color;
				border-radius: 50%;
				transition: .2s;
			}
			&:after {
				content: '';
				position: absolute;
				top: 3px;
				left: 0;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: $main_color;
				background-image: url(../img/arrow_check.svg);
				background-repeat: no-repeat;
				background-position: center;
				transition: .2s;
				opacity: 0;
			}
		}
	}
}

.item-dropdown__filter {
	padding: 40px 30px;
	padding-top: 20px;
	ul {
		li {
			margin-bottom: 15px;
		}
	}
}
.item-dropdown__bottom {
	padding-top: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	.btn-main {
		width: 46%;
		padding: 0;
	}
}
.color-widget-white {
	background-color: $white;
}
.color-widget-black {
	background-color: $main_color;
	.slick-slider:not(.slider-modal) .slick-arrow {
		background-color: $main_color;
	}
}
.color-widget-blue {
	background-color: $blue;
	.slick-slider:not(.slider-modal) .slick-arrow {
		background-color: $blue;
	}
}
.color-widget-black,
.color-widget-blue {
	& * {
		color: $white;
	}
	.item-dropdown__input,
	.item-form input,
	.item-form textarea {
		border-color: $white;
		color: $white;
	}
	*::-webkit-input-placeholder {
		color: $white;
		opacity: 1;
	}
	*:-moz-placeholder {
		color: $white;
		opacity: 1;
	}
	*::-moz-placeholder {
		color: $white;
		opacity: 1;
	}
	*:-ms-input-placeholder {
		color: $white;
		opacity: 1;
	}
	.item-card__content *, .item-dropdown__content *:not(.btn-main) {
		color: $main_color;
	}
	.item-dropdown__list {
		li {
			&:hover,
			&.active {
				color: $white;
			}
		}
	}
	.settings-widget {
		.item-dropdown__list {
			li {
				color: $white;
			}
		}
	}
	.item-dropdown__input::after {
		background-image: url(../img/triangle_white.svg);
	}
	.slick-slider:not(.slider-modal) .slick-prev {
		&::before {
			background-image: url(../img/prev2.svg);
		}
	}
	.slick-slider:not(.slider-modal) .slick-next {
		&::before {
			background-image: url(../img/next2.svg);
		}
	}
	.slick-dots li button {
		background-color: $white !important;
	}
	.btn-main.btn-main_page {
		color: $white;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
		&:hover {
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
		}
	}
}
[data-size="0px"] .admin-area {
	margin-bottom: 0px;
}
[data-size="30px"] .admin-area {
	margin-bottom: 30px;
}
[data-size="60px"] .admin-area {
	margin-bottom: 60px;
}
[data-size="90px"] .admin-area {
	margin-bottom: 90px;
}
[data-size="120px"] .admin-area {
	margin-bottom: 120px;
}
.item-dropdown_color {
	.item-dropdown__content {
		min-width: 104px;
	}
}
.slider-wrapper {
	width: calc(100% + 140px);
	padding: 0 70px; 
	margin-left: -70px;
	margin-top: -20px;
	overflow: hidden; 
}
.slick-list {
	overflow: visible;
}
.slick-slide .item-card {
	visibility: hidden;
	opacity: 0;
}

.slick-slide.slick-active .item-card {
	visibility: visible;
	opacity: 1;
}
.slick-dots-container {
	width: 89px;
	overflow: hidden;
	display: block;
	padding: 0;
	margin: 0 auto;
	height: 15px;
	position: relative;
}
.slick-dots-container > ul {
	padding: 0;
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: flex !important;
	transition: all 0.25s;
	position: relative;
	margin: 0;
	list-style: none;
	transform: translateX(0);
	align-items: center;
	bottom: unset;
	height: 100%;
}
.n-small-1 button,
.p-small-1 button {
	transform: scale(0.8);
}
.fancybox-slide--image {
	padding: 44px 0;
}
.fancybox-slide:before {
	display: none !important;
}
.slider-modal__item {
	height: calc(100vh - 100px);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}
.fancybox-skin {
	padding: 0 !important;
	background-color: transparent !important;
	box-shadow: none !important;
	.slick-dots-container {
		position: absolute;
		left: 0px;
		top: 100%;
		margin: 0;
		margin-top: 12px;
	}
	.slick-dots li button {
		background-color: $white !important;
	}
}
.fancybox-overlay {
	background: #a9a9ab;
	opacity: 1 !important;
}
.slider-modal {
	.slick-list {
		overflow: hidden;
	}
	.slick-prev {
		left: -60px;
	}
	.slick-next {
		right: -60px;
	}
}
.fancybox-close {
	width: 45px;
	height: 45px;
	position: fixed;
	top: 0;
	right: 0;
	background-image: url(../img/close.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
}
.slider-counter__numbers {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	text-align: right;
}
.slider-counter__numbers span {
	font-weight: 700;
}
.slick-dots-container {
	position: absolute;
	left: 45px;
	top: 100%;
}
.slider-counter {
	margin-top: 8px;
}
.modal-block {
	display: none;
}
.fancybox-inner {
	overflow: visible !important;
}
.modal-wrap {
	width: 1170px;
	max-width: 100%;
	margin-top: 15px; 	
}
.fancy-preloader {
	position: fixed;
	z-index: 4000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #a9a9ab;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.circle-preloader {
	width: 4em;
	height: 4em;
	margin: auto;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sk-spinner-pulse 1.0s infinite ease-in-out;
	animation: sk-spinner-pulse 1.0s infinite ease-in-out;
}
@-webkit-keyframes sk-spinner-pulse {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes sk-spinner-pulse {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}