/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.fancybox-navigation {
		.fancybox-button {
			opacity: 0 !important;
			width: 40%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			margin: auto;
			max-height: calc(100vh - 100px);
		}
		.fancybox-button--arrow_right {
			right: 0;
			left: auto;
		}
	}
	.ns_hidden_tablet {
		display: none !important;
	}
	.container {
		max-width: 768px;
	}
	.ns_admin-area {
		padding: 55px 30px;
	}
	.ns_slider-modal {
		.slick-arrow {
			display: none !important;
		}
	}
	.ns_slider-modal__item {
		padding: 0;
	}
	.ns_modal-wrap {
		.container {
			padding: 0;
		}
	}
	.ns_location-bottom {
		.ns_title-block {
			font-size: 19px;
		}
	}
	.ns_social-list {
		li {
			margin-right: 5px;
		}
	}
	.ns_col_pl {
		padding-left: 0;
	}
}

/* Medium Devices, Desktops */ 
@media only screen and (max-width : 992px) {
	.ns_slider-cards {
		.slick-slide {
			padding: 0 15px;
		}
	}
	.ns_admin-area {
		padding: 55px 30px;
	}
	.container {
		max-width: 768px;
	}
	.ns_btn-main.ns_btn-main_page {
		width: 233px;
	}
	.ns_slider-cards {
		padding-bottom: 20px;
	}
	.ns_btn-callback {
		right: 20px;
	}
	.ns_tab-pane__image {
		margin-bottom: 20px;
	}
	.ns_head-map {
		display: none;
	}
	.ns_map {
		height: 100vh;
	}
	.ns_map__wrap-card {
		display: none;
	}
	.ns_btn-type-map {
		width: 46px;
		height: 46px;
		top: 15px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			display: none;
		}
		img {
			margin: 0;
			opacity: 1;
		}
	}
	.ns_map {
		.ns_layout-size {
			display: none;
		}
	}
	.wrap-map-clear,
	.ns_btn-callback.ns_btn-callback_page {
		display: none;
	}
	.ns_btn-menu-filter {
		width: 46px;
		height: 46px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		border-radius: 50%;
		background-color: #fff;
		top: 15px;
		right: 15px;
		&.ns_btn-menu-filter_active {
			&:after {
				position: absolute;
				display: block;
				content: " ";
				top: 0;
				right: 0;
				background: #3E3EBA;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
			}
		}
	}
	.ns_item-map {
		top: 148px;
		left: 34%;
	}
	.mobile-slider-map {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.ns_item-card_mobile {
		width: 260px;
		display: flex;
		margin: 15px 7px;
		opacity: 1 !important;
		visibility: visible !important;
		.ns_item-card__image {
			height: 101px;
			width: 80px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			overflow: hidden;
		}
		.ns_tag-card {
			display: none;
		}
		.ns_item-card__content {
			flex: 1;
			padding: 10px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.ns_name-card {
			font-size: 15px;
			line-height: 18px;
		}
		.ns_size-card {
			font-size: 12px;
			line-height: 15px;
			padding: 0;
		}
		.ns_descr-card {
			display: none;
		}
		.ns_btn-view {
			display: none;
		}
	}

	.ns_mobile-mapmenu {
		padding: 0 15px;
		position: fixed;
		background-color: #fff;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
		display: none;
		overflow: auto;
		.ns_checkbox-slide {
			.ns_checkbox-slide__text {
				padding: 0;
				padding-left: 60px;
				&::before {
					left: 0;
				}
				&::after {
					left: 2px;
				}
			}
			input:checked + .ns_checkbox-slide__text:after {
				left: 24px;
			}
		}
		.ns_text-bold {
			padding-bottom: 15px;
			margin-top: 30px;
			padding-top: 30px;
			border-top: 1px solid #EAEAEA;
			& + .ns_range-title {
				padding-top: 0;
			}
		}
		.ns_range-title {
			padding-top: 25px;
			font-weight: 400;
		}
		.ns_bottom-popup-form {
			margin: 0 -15px;
			padding: 10px 15px;
			margin-top: 30px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		}
		.ns_calendar__arrow {
			top: -2px;
		}
	}
	.ns_btn-round_closemobile {
		position: relative;
		img {
			width: 12px;
			height: 12px;
		}
		&.ns_active {
			&::after {
				position: absolute;
				display: block;
				content: " ";
				top: 0;
				right: 0;
				background: #3E3EBA;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
			}
		}
	}
	.ns_mobile-mapmenu__head {
		padding: 15px 0;
		padding-bottom: 0;
		margin-bottom: -15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.list-mobile-checkbox {
		li {
			margin-bottom: 15px;
			&:nth-child(n+4) {
				display: none;
			}
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.ns_item-card__content {
		padding: 15px;
		padding-bottom: 20px;
	}
	.ns_hidden_mob {
		display: none !important;
	}
	.ns_head-block {
		padding-bottom: 24px;
		margin-bottom: 0;
		display: block;
		.ns_btn-main {
			margin-top: 15px;
			width: 100%;
			max-width: 350px;
		}
		.ns_title-block {
			margin-bottom: 0px;
		}
	}
	.ns_title-block {
		font-size: 21px;
		line-height: 28px;
	}
	.ns_products {
		padding-top: 40px;
	}
	.ns_item-dropdown__filter {
		padding: 20px 10px;
		padding-top: 5px;
		ul {
			max-height: 200px;
			overflow: auto;
			padding-right: 10px;
			li {
				margin-bottom: 7px;
			}
		}
	}
	.ns_item-dropdown__bottom {
		.ns_btn-main {
			font-size: 14px;
		}
	}
	.ns_item-card__image {
		height: 143px;
	}
	.ns_item-card {
		.ns_name-card {
			padding-bottom: 2px;
		}
	}
	.ns_slider-modal__item {
		height: 80vh;
	}
	.ns_location-flex {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
	}
	.ns_location-slider {
		-webkit-order: -1;
		-moz-order: -1;
		-ms-order: -1;
		-o-order: -1;
		order: -1;
		margin: 0 -15px;
	}
	.ns_location {
		padding-top: 0;
		padding-bottom: 40px;
		.ns_location-slider {
			margin-top: 0;
		}	
	}
	.ns_hidden_mob {
		display: none !important;
	}
	.ns_slider-location {
		.ns_slick-dots-container {
			bottom: 10px;
		}
	}
	.ns_location-block {
		display: block;
	}
	.ns_location-descr__item {
		margin: 0;
		margin-bottom: 7px;
	}
	.ns_location-descr {
		font-size: 18px;
		line-height: 24px;
		display: block;
	}
	.ns_location-bottom {
		display: none !important;
	}
	.ns_location-block {
		.ns_title-block {
			margin-top: 10px;
			margin-bottom: 15px;
		}
		.ns_descr-italic {
			margin-top: 10px;
		}
		.ns_btn-main {
			margin-top: 20px;
			width: 100%;
		}
	}
	.ns_layout-numbers__wrap {
		&:not(.ns_active) {
			display: none;
		}
	}
	.ns_layout-numbers__wrap {
		&.ns_active {
			order: 100;
		}
	}
	.ns_layout-size {
		display: none;
	}
	.ns_layout-block {
		padding: 15px 85px;
		img {
			
		}
	}
	.ns_layout-numbers {
		right: 15px;
		bottom: 5px;
		justify-content: flex-end;
		flex-wrap: nowrap;
		top: auto;
		.ns_layout-numbers__btn {
			position: absolute;
			bottom: 10px;
			right: 0;
			width: 45px;
			height: 45px;
		}
	}
	.ns_layout-numbers__item {
		pointer-events: none;
	}
	.ns_layout {
		padding-top: 40px;
		padding-bottom: 0;
	}
	.ns_footer {
		padding: 30px 0;
		padding-bottom: 80px;
		.ns_social-list {
			margin-top: 15px;
			li {
				margin-right: 15px;
			}
		}
		.ns_logo-footer {
			margin-bottom: 15px;
		}
	}
	.ns_footer__title {
		margin-top: 30px;
	}
	.ns_btn-top {
		top: 30px;
		right: 20px;
	}
	.ns_wrapper_location {
		padding-bottom: 0;
	}
	.ns_col_pl {
		padding-left: 15px;
	}
	.ns_list-footer {
		display: block;
	}
	.ns_nav-footer {
		margin-top: 30px;
		&.ns_nav-footer_bottom {
			margin-top: 0;
		}
	}
	.ns_footer__title_copy {
		span {
			
		}
	}
	.ns_row_bottom-footer {
		.col-md-3 {
			-webkit-order: -1;
			-moz-order: -1;
			-ms-order: -1;
			-o-order: -1;
			order: -1;
		}
	}
	.ns_btn-callback {
		bottom: 55px;
		right: 20px;
	}
	.ns_btn-main_footer {
		width: 100%;
		height: 50px;
		margin-top: 30px;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 700;
		box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.3);
	}
	.ns_slider-tabs {
		margin: 0 -15px;
		margin-top: 40px;
		.ns_slick-dots-container {
			margin-top: 20px;
		}
	}
	.ns_slider-tabs__item {
		padding: 0 15px;
	}
	.ns_slider-tabs__image {
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
		}
	}
	.ns_slider-tabs__name {
		padding: 10px 33px;
		font-size: 18px;
		line-height: 24px;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		margin: 20px 0;
		display: inline-block;
	}
	.ns_slider-tabs__text {
		font-size: 18px;
		line-height: 24px;
	}
	.ns_layout-wrap {
		padding-top: 16px;
		padding-bottom: 40px;
	}
	.ns_contact-footer-mob {
		font-size: 15px;
		line-height: 18px;
		padding-top: 10px;
		div {
			margin-top: 15px;
		}
	}
	.ns_phone-footer {
		font-size: 21px;
		line-height: 28px;
		color: #fff;
		display: inline-block;
	}
	.ns_hidden_mob + .ns_footer__title {
		margin-top: 26px;
	}
	.ns_location-link {
		top: 15px;
		left: 15px;
		font-size: 15px;
		line-height: 18px;
		padding-top: 6px;
		padding-bottom: 6px;
		img {
			margin-left: 0;
		}
	}
	.ns_location-descr__icon {
		width: 29px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.ns_admin-area {
		padding: 40px 15px;
	}
	.ns_widget-item {
		margin-right: 6px;
	}
	.ns_item-dropdown_widget {
		font-size: 14px;
		margin-right: 5px;
		.ns_item-dropdown__input {
			padding-right: 15px;
		}
	}
	.ns_item-dropdown__filter {
		ul {
			max-height: 145px;
		}
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
@media only screen and (min-width : 767px) {
	.ns_location-bottom.ns_fixed {
		& + .ns_footer {
			.ns_btn-callback {
				bottom: 140px;
			}
		}
	}
	.ns_layout-numbers__wrap {
		display: block !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.ns_slider-tabs,
	.ns_show_mob,
	.ns_btn-main_footer,
	.ns_location-block__mobile-address {
		display: none !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.ns_btn-menu-filter,
	.ns_mobile-mapmenu,
	.mobile-slider-map {
		display: none !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
		max-width: 1170px;
	}
}

@media (max-height: 576px) {
	.fancybox-slide--image {
		padding: 30px 0;
	}
}