/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.fancybox-navigation {
		.fancybox-button {
			opacity: 0 !important;
			width: 40%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			margin: auto;
			max-height: calc(100vh - 100px);
		}
		.fancybox-button--arrow_right {
			right: 0;
			left: auto;
		}
	}
	.hidden_tablet {
		display: none !important;
	}
	.container {
		max-width: 768px;
	}
	.admin-area {
		padding: 55px 30px;
	}
	.slider-modal {
		.slick-arrow {
			display: none !important;
		}
	}
	.slider-modal__item {
		padding: 0;
	}
	.modal-wrap {
		.container {
			padding: 0;
		}
	}
}

/* Medium Devices, Desktops */ 
@media only screen and (max-width : 992px) {
	.slider-cards {
		.slick-slide {
			padding: 0 15px;
		}
	}
	.admin-area {
		padding: 55px 30px;
	}
	.container {
		max-width: 768px;
	}
	.btn-main.btn-main_page {
		width: 233px;
	}
	.slider-cards {
		padding-bottom: 20px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.item-card__content {
		padding: 15px;
		padding-bottom: 20px;
	}
	.hidden_mob {
		display: none !important;
	}
	.head-block {
		padding-bottom: 24px;
		margin-bottom: 0;
		display: block;
		.btn-main {
			margin-top: 15px;
			width: 100%;
			max-width: 350px;
		}
		.title-block {
			margin-bottom: 0px;
		}
	}
	.title-block {
		font-size: 21px;
		line-height: 28px;
	}
	.products {
		padding-top: 40px;
	}
	.item-dropdown__filter {
		padding: 20px 10px;
		padding-top: 5px;
		ul {
			max-height: 200px;
			overflow: auto;
			padding-right: 10px;
			li {
				margin-bottom: 7px;
			}
		}
	}
	.item-dropdown__bottom {
		.btn-main {
			font-size: 14px;
		}
	}
	.item-card__image {
		height: 143px;
	}
	.item-card {
		.name-card {
			padding-bottom: 2px;
		}
	}
	.slider-modal__item {
		height: 80vh;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.admin-area {
		padding: 40px 15px;
	}
	.widget-item {
		margin-right: 6px;
	}
	.item-dropdown_widget {
		font-size: 14px;
		margin-right: 5px;
		.item-dropdown__input {
			padding-right: 15px;
		}
	}
	.item-dropdown__filter {
		ul {
			max-height: 145px;
		}
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
		max-width: 1170px;
	}
}

@media (max-height: 576px) {
	.fancybox-slide--image {
		padding: 30px 0;
	}
}