input,
button {
	font-family: 'GT Walsheim Pro';
	-webkit-appearance: none;
}
input {
	border-radius: 0 !important;
}
.ns_btn-main {
	font-size: 15px;
	line-height: 18px;
	padding: 0 24px;
	height: 50px;
	background-color: $ns_main_color;
	border: 1px $ns_main_color solid;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	color: $ns_white;
	-webkit-transition: $ns_smooth;
	-o-transition: $ns_smooth;
	transition: $ns_smooth;
	font-weight: 700;
	&:hover {
		background-color: rgba(40, 41, 45, 0.8);
	}
	&.ns_btn-main_page {
		background-color: transparent;
		color: $ns_main_color;
		border: none;
		width: 262px;
		max-width: 100%;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		border-radius: 100px;
		&:hover {
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
		}
	}
	&.ns_btn-main_transparent {
		color: $ns_main_color;
		background-color: $ns_white;
		&:hover {
			background-color: $ns_main_color;
			color: $ns_white;
		}
	}
}

.ns_btn-main.ns_btn-main_black {
	background-color: $ns_main_color;
	color: $ns_white;
	box-shadow: none !important;
	&:hover {
		background-color: rgba(40, 41, 45, 0.8);
	}
}

.ns_link-opacity {
	font-size: 18px;
	line-height: 24px;
	opacity: 0.4;
	color: $ns_main_color;
	border-bottom: 1px $ns_main_color solid;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	&:hover {
		opacity: 1;
	}
}

.ns_btn-round {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	background-color: $ns_white;
	background-repeat: no-repeat;
	cursor: pointer;
	background-position: center;
	transition: all 0.3s;
	img {
		opacity: 0.4;
		transition: all 0.3s;
	}
	&:hover {
		img {
			opacity: 1;
		}
	}
}
.ns_link-more {
	font-size: 14px;
	display: inline-flex;
	align-items: center;
	transition: all 0.3s;
	opacity: 0.4;
	color: $ns_main_color;
	&:hover {
		opacity: 1;
	}
	img {
		margin-left: 5px;
		transition: all 0.3s;
	}
	&.ns_active {
		img {
			transform: rotate(-180deg);
		}
	}
}

.ns_title-section {
	font-size: 39px;
	line-height: 45px;
	font-weight: 700;
	& + .ns_descr-section {
		padding-top: 15px;
	}
}
.ns_descr-section {
	font-size: 18px;
	line-height: 24px;
}
.ns_btn-main_page.ns_btn-main_background {
	background-color: $ns_white;
	color: $ns_main_color !important;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	&:hover {
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
	}
}
.ns_btn-main_page.ns_btn-main_border {
	border: 2px solid $ns_white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
	&:hover {
		opacity: 0.8;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
	}
}
.ns_btn-main_page.ns_btn-main_blue {
	background-color: $ns_blue;
	box-shadow: none !important;
	&:hover {
		background-color: #2c2c78;
	}
}
.ns_row_min {
	margin: 0 -7px;
	& > div {
		padding: 0 7px;
	}
}