/*
Error: Undefined variable: "$ns_main_color".
        on line 11 of B:\repository\TheKey\scss\ns_elements.scss

6: .ns_btn-main {
7: 	font-size: 15px;
8: 	line-height: 18px;
9: 	padding: 0 24px;
10: 	height: 50px;
11: 	background-color: $ns_main_color;
12: 	border: 1px $ns_main_color solid;
13: 	display: -webkit-inline-flex;
14: 	display: -moz-inline-flex;
15: 	display: -ms-inline-flex;
16: 	display: -o-inline-flex;

Backtrace:
B:\repository\TheKey\scss\ns_elements.scss:11
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/variable.rb:49:in `_perform'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/node.rb:50:in `perform'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
B:/program/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
B:/program/koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
B:/program/koala/bin/sass:22:in `load'
B:/program/koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$ns_main_color\".\A         on line 11 of B:\repository\TheKey\scss\ns_elements.scss\A \A 6: .ns_btn-main {\A 7: 	font-size: 15px;\A 8: 	line-height: 18px;\A 9: 	padding: 0 24px;\A 10: 	height: 50px;\A 11: 	background-color: $ns_main_color;\A 12: 	border: 1px $ns_main_color solid;\A 13: 	display: -webkit-inline-flex;\A 14: 	display: -moz-inline-flex;\A 15: 	display: -ms-inline-flex;\A 16: 	display: -o-inline-flex;"; }
