.ns_products {
	padding: 90px 0;
}
.ns_more-cards {
	text-align: center;
}
.ns_head-block {
	margin-bottom: 5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 2;
}
